<!DOCTYPE html>
<html>
<head>
    <title>Cafeteria Connect</title>
    <script src="https://cdn.tailwindcss.com"></script>
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet"> {% endcomment %}

</head>
<body class="bg-gray-100 min-h-screen font-sans">
  
  <!-- Navbar -->
  <nav class="bg-white shadow py-4 px-6 flex justify-between products-center">
    <!-- Logo Centered (Visually) -->
     {% if user.is_authenticated %}
        <a href="{% url 'my_orders' %}" class="text-sm text-blue-600 hover:underline">My Orders</a>
        <a href="{% url 'view_cart' %}" class="cart-link">
            🛒 Cart (<span id="cart-count">{{ cart_item_count }}</span>)
        </a>
      {% endif %}

    <div class="flex-1 text-center">
      <a href="{% url 'shop-list' %}" class="text-2xl font-bold text-gray-800 hover:text-blue-600 transition">
        Cafeteria Connect 🏬
      </a>
    </div>

    {% if user.is_authenticated %}
      <!-- Logout Top-Right -->
      <div class="absolute top-4 right-6">
        <a href="{% url 'logout' %}" class="text-sm text-red-600">
          Logout
        </a>
      </div>
    {% endif %}
  </nav>

  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
